@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background-image: url(./img/krapido.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background: #d1d1d1;
    width: 450px;
    height: 600px;
    padding: 10px;
    margin:100px auto ;
    border-radius: 10px;
}
.tesk {
    width: 250px;
    height: 25px;
    margin: 10px;
    padding-left: 10px;
}
button {
    height: 25px;
    width: 90px;
    background: #c14599;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-left: 40px;
}
button:hover{
    opacity: 0.6;
}
.tesk_item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
 

}
.tesk_item li {
    background-color: white;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
}
.tesk_item2 {
    height: 25px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    list-style: none;
    padding: 10px;
    margin: 10px 5px;
}
.tesk_item2:hover img {
    opacity: 1;
}
img {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.Tempo {

}